<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body>
<div class="d-xl-flex justify-content-xl-center"><img src="/img/bg.jpg" style="position: fixed;" height="100%"
                                                      width="100%"></div>
<h1 class="text-center text-white d-none d-lg-block site-heading"
    style="margin-top: 0px;padding-top: 80px;position: relative;text-shadow: 0px 0px 20px var(--bs-black);">
    <span class="fw-semibold site-heading-lower">Repetitors</span>
</h1>
<div th:insert="blocks/nav :: nav"></div>
<section class="page-section clearfix" style="position: relative;">
    <div class="container">
        <div class="row"
             style="background: rgba(255,255,255,0.85);padding: 15px;margin-bottom: 20px;border-radius: 10px; font-size: 1.5em">
            <div class="col-12" align="justify">&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Amet cumque ipsam libero maxime nulla, pariatur. Aliquam atque blanditiis,
                consequuntur doloremque earum, ex id magnam, minus mollitia necessitatibus tempora ut velit.
            </div>
            <div class="col-12" align="center">
                <iframe width="75%" height="550" src="https://www.youtube.com/embed/-9Ko7L0YYNs"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            </div>
            <div class="col-12" align="justify">&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Amet cumque ipsam libero maxime nulla, pariatur. Aliquam atque blanditiis,
                consequuntur doloremque earum, ex id magnam, minus mollitia necessitatibus tempora ut velit.
            </div>
            <div class="col-12" align="justify">&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Amet cumque ipsam libero maxime nulla, pariatur. Aliquam atque blanditiis,
                consequuntur doloremque earum, ex id magnam, minus mollitia necessitatibus tempora ut velit.
            </div>
        </div>
    </div>
</section>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="/js/current-day.js"></script>
<script src="/js/Lightbox-Gallery.js"></script>
</body>

</html>